.logo {
    cursor: pointer;
}
.container h2 {
    font-size: 30px;
    text-align: center;
    margin: 20px 0;
}

.container h2+input {
    width: 100%;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    outline: none;
    font-family: 'Source Code Pro', monospace;
    height: 50px;
    background-color: #ff62012c;
    border: 2px dashed gray;
}

.result h3.main-heading {
    font-size: 25px;
    padding: 30px 30px;
    text-align: center;
    background-color: #F75C03;
    margin-top: 20px;
    border-radius: 10px;
    color: white;
}

.result h3.main-heading span:nth-of-type(1) {
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px white;
    font-weight: 900;
    font-size: 30px;
    padding: 0px 10px;
    white-space: nowrap;
}


.result .your-password h4.password-heading {
    display: inline-block;
    margin-left: 20px;
    font-size: 24px;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    width: 100%;
    color: #FF6201;
}

.result div.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    flex-wrap: wrap;
}

.score {
    flex-basis: 49%;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #5398BE;
    color: #fff;
    width: fit-content;
    height: 350px;
}

.score h4 {
    font-size: 24px;
}

.score h3 {
    height: 274px;
    font-size: 183px;
    width: 100%;
    text-align: center;
}

.score h3 span {
    font-size: 35px;
}

.strength {
    flex-basis: 49%;
    background-color: #5B8C5A;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 10px;
    padding: 20px;
    height: 350px;
    color: white;
}

.strength h4{
    font-size: 24px;
}
.strength h3 {
    font-size: 86px;
    line-height: 87px;
    height: 274px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.result + a {
    margin-top: 20px;
    display: inline-block;
    padding: 4px 15px;
    background-color: #F75C03;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
}

@media only screen and (max-width: 800px) {
    .row .score {
        flex-basis: 100%;
        margin-bottom: 10px;
    }
    
    .row .strength {
        flex-basis: 100%;
    }
}

@media only screen and (max-width: 480px) {
    .container input+h3 {
        font-size: 20px;
        padding: 25px 15px;
    }

}

@media only screen and (max-width: 400px) {
    .score {
        height: 275px;
        position: relative;
        display: flex;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .score h4 {
        position: absolute;
        top: 30px;
        left: 30px;

    }

    .score h3 {
        display: flex;
        height: 164px;
        font-size: 130px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .strength {
        height: 275px;
    }
    
    .strength h3 {
        font-size: 64px;
        line-height: 64px;
    }

}
